Source: paxctld
Section: admin
Priority: important
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://grsecurity.net
Vcs-Git: https://github.com/pthierry38/paxctld.git
Vcs-Browser: https://github.com/pthierry38/paxctld

Package: paxctld
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.0-6)
Description: Daemon to automatically set appropriate PaX flags
 paxctld automatically sets appropriate PaX flags on binaries on the
 system using user extended attributes.  The flags are maintained
 across any updates made to the binaries listed in the paxctld
 configuration file.
